.add-patient-cont {
    width: 90%;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
  }
  
  .patient-details {
    margin: 5%;
    margin-top: 5%;
    margin-bottom: 8%;
  }
  
  .form-control.ng-touched.ng-invalid {
    border: 2px solid red;
  }
  