<div class="dialog-title">
  <h1 mat-dialog-title>{{heading}}</h1>
</div>
<form [formGroup]="requiredForm">

<mat-dialog-content  class="dialog-content">
  <div>
  <mat-form-field >
    <mat-label>Name</mat-label>
    <input
           formControlName="name"
           id="name"
           type="text"
           required
           matInput
    >
  </mat-form-field>
  </div>
  <div>
    <h3 class="m-0">Address</h3>
    <div>
      <mat-form-field style="width: 80%" >
        <mat-label>Type The Street Name Here</mat-label>
        <textarea
                   formControlName="addLine1"
                   id="addLine1"
                   type="text"
                   required
                   matInput cdkTextareaAutosize
                   cdkAutosizeMinRows="1"
                   cdkAutosizeMaxRows="4" ></textarea>
      </mat-form-field>

    </div>
    <div>
      <mat-form-field >
        <mat-label>State</mat-label>
        <input
               formControlName="state"
               id="state"
               type="text"
               required
               matInput >
      </mat-form-field>
      <mat-form-field style="margin: 20px" >
        <mat-label>Pin Code</mat-label>
        <input
               formControlName="pincode"
               id="pincode"
               required
               matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field >
        <mat-label>District</mat-label>
        <input
               formControlName="district"
               id="district"
               type="text"
               required
               matInput>
      </mat-form-field>

    </div>



  </div>
</mat-dialog-content>
</form>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Submit</button>
</mat-dialog-actions>
