<mat-toolbar color="primary">
  <button routerLink="/" mat-button>
    <mat-icon>local_hospital</mat-icon>
    {{'brainhealthinitiative' | translate}}
  </button>
  <button *ngIf="isLoggedIn" routerLink="/dashboard" mat-button>
    {{ 'dashboard' | translate }}
  </button>
  <button *ngIf="isLoggedIn && !isAdmin" routerLink="/addPatient" mat-button>
    {{ 'addPatient' | translate }}
  </button>

  <button *ngIf="isLoggedIn && isAdmin" (click)="openUserDialog()" mat-button>
    {{ 'addUser' | translate }}
  </button>
  <button *ngIf="isLoggedIn && isAdmin" (click)="openHospitalDialog()" mat-button>
    {{ 'addHospital' | translate }}
  </button>
  <button *ngIf="!isLoggedIn" routerLink="/login" mat-button>
    {{ 'login' | translate }}
  </button>

  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Select Language">
    <mat-icon matTooltip="Change Language">language</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button value="{{language}}" (click)="selectLanguage($event)" *ngFor="let language of languages" mat-menu-item>
      {{language}}
    </button>
  </mat-menu>

  <button (click)="logout()" *ngIf="isLoggedIn" mat-button>
    {{ 'logout' | translate }}
  </button>

</mat-toolbar>

