
.card {
  width: 90%;
}


.card-header {
  color: #673ab7;
}

body {
  background: linear-gradient(90deg, #CBC3E3 0%, #CF9FFF 100%);
}
  

.add-consultation-cont {
  width: 90%;
  border-radius: 5px;
  box-shadow: black 0px -1px 13px -6px;
}
.header{
  background-color: blueviolet  ;
  border-radius: 5px;
  color: white;
}

.consultation-details {
  margin: 5%;
  margin-top: 5%;
  margin-bottom: 8%;
  line-height: 1.5;
}

.record{
  /*  border: 1px solid black; */

}

.recordHead{
  background-color: blueviolet ;
  color: white;
  border-top-left-radius: 5px ;
  border-top-right-radius: 5px ;
}

.recordBody{
  border-bottom-left-radius: 5px ;
  border-bottom-right-radius: 5px ;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.margin {

  margin: 0 12px;
}

.line {
  border-bottom: solid blueviolet;
  border-bottom-width: 3.1px;
  width: fit-content;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
