

.card {
  width: 90%;
}


.card-header {
  color: #673ab7;
}

.bg {
  background: linear-gradient(90deg, #CBC3E3 0%, #CF9FFF 100%);
}


table {
  width: 100%;
}
/* 
.header{
    background-color:  blueviolet ;
    border-radius: 5px;
    color: white;
  }

  .dash-cont {
    width: 90%;
    border-radius: 5px;
    box-shadow: black 0px -1px 13px -6px;
  }


  .recordHead{
    background-color: blueviolet ;
    color: white;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
  }

  .recordBody{
    background-color: white;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;
  }

  .abhaID {
    text-align: left;
  }

  .time {
    text-align: right;
  } */
