<div class="bg  pb-5">
<div class="card m-auto">
  <div class="card-header">
    <span class="fs-4 p-2">
      {{'patientHistory' | translate}}
    </span>

  </div>
  <!-- {{dataSource.data | json}} -->
  <div class="card-body">

  <div class="bg-light p-1" >
    <span class="mt-3" style="text-align: left;"><strong>Patient Details</strong></span>
    <hr>
    <div class="row">
      <span class="col-3" style="text-align: left;">
        <p><strong>ABHA Id :&nbsp;</strong> {{patientDetails.ABHAID}}</p>
      </span>
      <span class="col-3">
        <p><strong>Name :&nbsp;</strong>{{patientDetails.fname}} {{patientDetails.lname}}</p>
      </span >
      <span class="col-3">
        <p><strong>Age :&nbsp;</strong>{{patientDetails.age}}</p>
      </span >
    </div>
  </div>


  <div class="mt-2">
    <button type="button" class="btn-sm float-right" routerLink="/addConsultation" [queryParams]="{id : patientDetails.Id}" mat-raised-button color="primary" >
      <mat-icon>add</mat-icon>
      Consultation Record
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8 mt-2">
   <ng-container matColumnDef="complaint">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          {{'complaint' | translate}}
       </th>
        <td class="cursor-pointer" mat-cell *matCellDef="let element" (click)="display(element)">
          {{element.complaintDetail.complaint }}
        </td>
      </ng-container>

      <ng-container matColumnDef="diagnosisType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          {{'diagnosisType' | translate}}
       </th>
        <td class="cursor-pointer" mat-cell *matCellDef="let element"  (click)="display(element)">
          {{element.diagnosisTypeLuByDiagnosisTypeId.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="improvementStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          {{'improvementStatus' | translate}}
       </th>
        <td class="cursor-pointer" mat-cell *matCellDef="let element"  (click)="display(element)">
          {{element.improvementStatusLuByImprovementStatusId.name }}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="questionnaireResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          {{'questionnaireResult' | translate}}
       </th>
        <td class="cursor-pointer" mat-cell *matCellDef="let element"  (click)="display(element)">
          {{element.questionnaireDiagnosisByReachedDiagnosisId.diagnosisInfo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          {{'createdOn' | translate}}
       </th>
        <td class="cursor-pointer" mat-cell *matCellDef="let element"  (click)="display(element)">
          {{element.appointmentTime.substring(0,10) }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
    ></tr>

    </table>



    <!-- <table class="table" style="table-layout: fixed;">
      <thead>
        <th>Index</th>
        <th>Date</th>
        <th>complaint</th>
        <th>Diagnosis Type</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let record of displayRecord,let idx=index;" >
          <td *ngIf="!record.isExpand">{{record.id}}</td>
          <td *ngIf="!record.isExpand">{{record.appointmentTime.substring(0,10)}}</td>
          <td *ngIf="!record.isExpand">{{record.complaintDetail.complaint}}</td>
          <td *ngIf="!record.isExpand">{{record.diagnosisTypeLuByDiagnosisTypeId.name}}</td>
          <td *ngIf="!record.isExpand"><button type="button" (click)="change(idx)" class="btn btn-success btn-sm"  color="primary">&nbsp;&nbsp;View&nbsp;&nbsp;</button></td>
          <td *ngIf="record.isExpand" colspan="5">
            <div>
              <div class=" row pt-2 recordHead">
                <span class="col-6 abhaID" >
                  <p><strong> ID : {{record.id}}</strong></p>
                </span>
                <span class="col-6 time">
                  <p><strong> Appointment Date : {{record.appointmentTime.substring(0,10)}}</strong></p>
                </span>
              </div>
              <div class="row recordBody bg-light p-4" >
                <span class="mt-3" style="text-align: left;"><strong>Chief Complaints</strong></span>
                <hr>
                <div class="row">
                  <span class="col-3" style="text-align: left;">
                    <p><strong>Complaint :&nbsp;</strong> {{record.complaintDetail.complaint}}</p>
                  </span>
                  <span class="col-3">
                    <p><strong>Examination :&nbsp;</strong>{{record.complaintDetail.examination}}</p>
                  </span >
                  <span class="col-3">
                    <p><strong>History of illness :&nbsp;</strong>{{record.complaintDetail.history}}</p>
                  </span >
                  <span class="col-3">
                    <p><strong>Illness Summary :&nbsp;</strong>{{record.complaintDetail.illnessSummary}}</p>
                  </span >
                </div>

                <span class="mt-3" style="text-align: left;"><strong>Diagnosis</strong></span>
                <hr>
                <div class="row">
                  <span class="col-2" style="text-align: left;">
                    <p><strong>Type :&nbsp;</strong> {{record.diagnosisTypeLuByDiagnosisTypeId.name}}</p>
                  </span>
                  <span class="col-6">
                    <p><strong>ICD10 code :&nbsp;</strong>{{record.icdDetail.icd10}}</p>
                  </span >
                  <span class="col-4">
                    <p><strong>ICD Description :&nbsp;</strong>{{record.icdDetail.icdDescription}}</p>
                  </span >
                </div>

                <span class="mt-3" style="text-align: left;"><strong>Treatment Plan</strong></span>
                <hr>
                <div class="row">
                  <span class="col-auto" style="text-align: left;">
                    <p><strong>Improvement Status :&nbsp;</strong> {{record.improvementStatusLuByImprovementStatusId.name}}</p>
                  </span>
                </div>
                <div class="row" *ngFor="let med of record.medicineDetail.medicines">
                  <span class="col-4" style="text-align: left;">
                    <p><strong>Medicine Name :&nbsp;</strong>{{med.medicineName}}</p>
                  </span >
                  <span class="col-2" style="text-align: left;">
                    <p><strong>Dosage :&nbsp;</strong>{{med.Dosage}}</p>
                  </span >
                  <span class="col-2" style="text-align: left;">
                    <p style="display: inline-block;"><strong>Timing : </strong></p>
                    <p *ngIf="med.isMorning" style="display: inline-block;">&nbsp;1&nbsp;</p>
                    <p *ngIf="!med.isMorning" style="display: inline-block;">&nbsp;0&nbsp;</p>
                    <p *ngIf="med.isAfternoon" style="display: inline-block;">&nbsp;- 1</p>
                    <p *ngIf="!med.isAfternoon" style="display: inline-block;">&nbsp;- 0</p>
                    <p *ngIf="med.isNight" style="display: inline-block;">&nbsp;- 1</p>
                    <p *ngIf="!med.isNight" style="display: inline-block;">&nbsp;- 0</p>
                  </span>
                </div>
                <div class="row">
                  <span class="col-3" style="text-align: left;">
                    <p><strong>Medicine Duration :&nbsp;</strong> {{record.medicineDetail.medicineDuration}}</p>
                  </span>
                  <span class="col-3" style="text-align: left;">
                    <p><strong>Remarks :&nbsp;</strong> {{record.medicineDetail.remarks}}</p>
                  </span>

                </div>

                <div class="row">
                  <span class="col-auto" style="text-align: left;">
                    <p><strong>Treatment Instruction:</strong> {{record.treatmentInstruction}}</p>
                  </span>
                </div>

                <span class="mt-3" style="text-align: left;"><strong>Follow up Recommendations</strong></span>
                <hr>
                <div class="row">
                  <span class="col-auto" style="text-align: left;">
                    <p><strong>Followup Date :</strong> {{record.followUpDetail.followUp}}</p>
                  </span>
                  <span class="col-auto">
                    <p><strong>Reffer To : </strong>Dr. {{record.userByDoctorId.firstName}} {{record.userByDoctorId.lastName}}</p>
                  </span >
                  <span class="col-auto" >
                    <p style="display: inline-block;"><strong>Other Followup :&nbsp;</strong></p>
                    <p *ngIf="record.followUpDetail.moveToIp" style="display: inline-block;">Moto to IP,&nbsp;</p>
                    <p *ngIf="record.followUpDetail.referSos" style="display: inline-block;"> Refer to SOS</p>

                  </span>
                </div>
                <div class="p-2 text-center " >
                  <button (click)="change(idx)"  mat-raised-button color="primary">Close</button>
                </div>
              </div>
            </div>
          </td>
        </tr>

      </tbody> -->
    <!-- </table> -->
  </div>

  <nav *ngIf="numbers.length > 1" >
    <ul class="pagination justify-content-center">
      <li id="prev" class="page-item" [ngClass]="{ 'disabled': options.page === 1 }">
        <a class="page-link"   (click)="prev()">Previous</a>
      </li>
      <ng-container >
        <li class="page-item"   *ngFor="let number of numbers" [ngClass]="{ 'active': options.page === number }">
          <a class="page-link"   (click)="to(number)">{{number}}</a>
        </li>
      </ng-container>
      <li id="next" class="page-item" [ngClass]="{ 'disabled': options.page === numbers.length }">
        <a class="page-link"  (click)="next()" disabled="true">Next</a>
      </li>
    </ul>
  </nav>

<div class="card m-auto" *ngIf="isExpand">
  <div class="card-header">
    <div class="fs-5 p-2">
      {{'consultationReport' | translate}}
    </div>

  </div>


  <div class="card-body">
    <div class=" row pt-2 recordHead">
      <span class="col-6 time">
        <p><strong> Appointment Date : {{displayRecord.appointmentTime.substring(0,10)}}</strong></p>
      </span>
    </div>
    <div class="row recordBody bg-light p-4" >
      <span class="mt-3" style="text-align: left;"><strong>Chief Complaints</strong></span>
      <hr>
      <div class="row">
        <span class="col-3" style="text-align: left;">
          <p><strong>Complaint :&nbsp;</strong> {{displayRecord.complaintDetail.complaint}}</p>
        </span>
        <span class="col-3">
          <p><strong>Examination :&nbsp;</strong>{{displayRecord.complaintDetail.examination}}</p>
        </span >
        <span class="col-3">
          <p><strong>History of illness :&nbsp;</strong>{{displayRecord.complaintDetail.history}}</p>
        </span >
        <span class="col-3">
          <p><strong>Illness Summary :&nbsp;</strong>{{displayRecord.complaintDetail.illnessSummary}}</p>
        </span >
      </div>

      <span class="mt-3" style="text-align: left;"><strong>Diagnosis</strong></span>
      <hr>
      <div class="row">
        <span class="col-2" style="text-align: left;">
          <p><strong>Type :&nbsp;</strong> {{displayRecord.diagnosisTypeLuByDiagnosisTypeId.name}}</p>
        </span>
        <span class="col-6">
          <p><strong>ICD10 code :&nbsp;</strong>{{displayRecord.icdDetail.icd10}}</p>
        </span >
        <span class="col-4">
        </span >
      </div>

      <span class="mt-3" style="text-align: left;"><strong>Treatment Plan</strong></span>
      <hr>
      <div class="row">
        <span class="col-auto" style="text-align: left;">
          <p><strong>Improvement Status :&nbsp;</strong> {{displayRecord.improvementStatusLuByImprovementStatusId.name}}</p>
        </span>
      </div>
      <div class="row" *ngFor="let med of displayRecord.medicineDetail.medicines">
        <span class="col-4" style="text-align: left;">
          <p><strong>Medicine Name :&nbsp;</strong>{{med.medicineName}}</p>
        </span >
        <span class="col-2" style="text-align: left;">
          <p><strong>Dosage :&nbsp;</strong>{{med.Dosage}}</p>
        </span >
        <span class="col-2" style="text-align: left;">
          <p style="display: inline-block;"><strong>Timing : </strong></p>
          <p *ngIf="med.isMorning" style="display: inline-block;">&nbsp;1&nbsp;</p>
          <p *ngIf="!med.isMorning" style="display: inline-block;">&nbsp;0&nbsp;</p>
          <p *ngIf="med.isAfternoon" style="display: inline-block;">&nbsp;- 1</p>
          <p *ngIf="!med.isAfternoon" style="display: inline-block;">&nbsp;- 0</p>
          <p *ngIf="med.isNight" style="display: inline-block;">&nbsp;- 1</p>
          <p *ngIf="!med.isNight" style="display: inline-block;">&nbsp;- 0</p>
        </span>
      </div>
      <div class="row">
        <span class="col-3" style="text-align: left;">
          <p><strong>Medicine Duration :&nbsp;</strong> {{displayRecord.medicineDetail.medicineDuration}}</p>
        </span>
        <span class="col-3" style="text-align: left;">
          <p><strong>Remarks :&nbsp;</strong> {{displayRecord.medicineDetail.remarks}}</p>
        </span>

      </div>

      <div class="row">
        <span class="col-auto" style="text-align: left;">
          <p><strong>Treatment Instruction:</strong> {{displayRecord.treatmentInstruction}}</p>
        </span>
      </div>

      <span class="mt-3" style="text-align: left;"><strong>Follow up Recommendations</strong></span>
      <hr>
      <div class="row">
        <span class="col-auto" style="text-align: left;">
          <p><strong>Followup Date :</strong> {{displayRecord.followUpDetail.followUp}}</p>
        </span>
        <span class="col-auto">
          <p><strong>Reffer To : </strong>Dr. {{displayRecord.userByDoctorId.firstName}} {{displayRecord.userByDoctorId.lastName}}</p>
        </span >
        <span class="col-auto" >
          <p style="display: inline-block;"><strong>Other Followup :&nbsp;</strong></p>
          <p *ngIf="displayRecord.followUpDetail.moveToIp" style="display: inline-block;">Moto to IP,&nbsp;</p>
          <p *ngIf="displayRecord.followUpDetail.referSos" style="display: inline-block;"> Refer to SOS</p>

        </span>
      </div>
      <div class="p-2 text-center " >
        <button (click)="change()"  mat-raised-button color="primary">Close</button>
      </div>
    </div>
  </div>
</div>


</div>

</div>


