<div class="bg pt-5 pb-5" *ngIf="!isAdmin">
<div class="card m-auto">
  <div class="card-header" >
    <span class=" fs-4 p-2 fw-bold">
      {{'patientRecords' | translate}}
    </span>
  </div>

  <div class="card-body pt-0">
    <mat-form-field appearance="standard">
      <mat-label>{{'search' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <!-- {{dataSource.data | json}} -->
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        {{'name' | translate}}
       </th>
        <td class="cursor-pointer" mat-cell *matCellDef="let element" routerLink="/patientDetails" [queryParams]="{id : element.id}">
            {{element.firstName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by age">
          {{'age' | translate}}
         </th>
         <td class="cursor-pointer" mat-cell *matCellDef="let element" routerLink="/patientDetails" [queryParams]="{id : element.id}">
          {{element.age}}
      </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>{{'phoneNumber' | translate}}</th>
        <td class="cursor-pointer" mat-cell *matCellDef="let element" routerLink="/patientDetails" [queryParams]="{id : element.id}">
          {{element.phoneNumber}}
      </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
          {{'email' | translate}}
         </th>
         <td class="cursor-pointer" mat-cell *matCellDef="let element" routerLink="/patientDetails" [queryParams]="{id : element.id}">
          {{element.email}}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by createdOn">
          {{'createdOn' | translate}}
         </th>
         <td class="cursor-pointer" mat-cell *matCellDef="let element" routerLink="/patientDetails" [queryParams]="{id : element.id}">
          {{element.createdOn.substring(0,10)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon matTooltip="Consultation Details" class="cursor-pointer" routerLink="/consultationDetails" [queryParams]="{id : element.id}" aria-hidden="false" aria-label="Consultation Details">list_alt</mat-icon>
        </td>>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
</div>

<!----Admin-->
<div class="grid-container" *ngIf="isAdmin">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cards | async )?.columns }}" rowHeight="350px">
    <mat-grid-tile *ngFor="let i of [1, 2, 3, 4]" [colspan]="( cards| async )?.miniCardCols" [rowspan]="( cards| async )?.miniCardRows">
      <app-card title="Card {{i}}"><div>Mini Card Content Here</div></app-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let i of [5, 6, 7, 8]" [colspan]="( cards | async )?.chartCardCols"
                   [rowspan]="( cards | async )?.chartCardRows">
      <app-card title="Sales Chart {{i}}"><app-barchart></app-barchart></app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
