.dash-cont {
    width: 90%;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  