table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.card-header {
  color: #673ab7;
}



.bg {
  background: linear-gradient(90deg, #CBC3E3 0%, #CF9FFF 100%);
  height: 100%;
}



