<div class="dialog-title">
  <h1 mat-dialog-title>{{heading}}</h1>
</div>

<form [formGroup]="requiredForm">
<mat-dialog-content  class="dialog-content">
  <!-- FirstName and LastName-->
  <div>
    <mat-form-field >
      <mat-label>First Name</mat-label>
      <input
             formControlName="firstname"
             id="firstname"
             type="text"
             required
             matInput
      >
    </mat-form-field>
    <mat-form-field style="margin-left: 20px" >
      <mat-label>Last Name</mat-label>
      <input
             formControlName="lastname"
             id="lastname"
             type="text"

             required
             matInput
      >
    </mat-form-field>
    <mat-form-field style="margin-left: 20px" >
      <mat-label>Username</mat-label>
      <input
             formControlName="username"
             id="username"
             type="text"
             required
             matInput>
    </mat-form-field>
  </div>
  <!-- Username And Password-->
  <div>

    <mat-form-field >
      <mat-label>Password</mat-label>
      <input
             formControlName="password"
             id="password"
             type="text"

             required
             matInput>
    </mat-form-field>
    <mat-form-field style="margin-left: 20px" >
      <mat-label>Email</mat-label>
      <input
             formControlName="email"
             id="email"
             type="text"
             required
             matInput>
    </mat-form-field>
    <mat-form-field style="margin-left: 20px"  >
      <mat-label>Phone Number</mat-label>
      <input
             formControlName="phone"
             id="phone"
             type="text"
             minlength="3"
             required
             matInput>
    </mat-form-field>


  </div>
  <!-- Address-->
  <div>
    <h3 class="m-0"> Address </h3>
    <div>
      <mat-form-field style="width: 85%" >
        <mat-label>Type The Street Name Here</mat-label>
        <textarea
                   formControlName="addLine1"
                   id="addLine1"
                   type="text"

                   required
                   matInput cdkTextareaAutosize
                   cdkAutosizeMinRows="1"
                   cdkAutosizeMaxRows="4" ></textarea>
      </mat-form-field>

    </div>
    <div>
      <mat-form-field >
        <mat-label>State</mat-label>
        <input
               formControlName="state"
               id="state"
               type="text"
               required
               matInput >
      </mat-form-field>
      <mat-form-field  style="margin-left: 20px" >
        <mat-label>Pin Code</mat-label>
        <input
               formControlName="pincode"
               id="pincode"
               type="number"

               minlength="6"
               maxlength="6"
               required
               matInput>
      </mat-form-field>
      <mat-form-field style="margin-left: 20px">
        <mat-label>District</mat-label>
        <input
               formControlName="district"
               id="district"
               type="text"
               required
               matInput>
      </mat-form-field>
    </div>

  <div>
    <h3 class="m-0">Organization And Role</h3>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select  formControlName ="roletype"  required >
        <mat-option *ngFor="let role of roles" [value]="role">{{role.role}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="margin: 20px" >
      <mat-label>Organization</mat-label>
      <mat-select formControlName="orgs" multiple>
        <mat-option *ngFor="let org of orgList" [value]="org.id">{{org.name+" "
        +org.addressDetail.addLine1 + " "+org.addressDetail.state+" " + org.addressDetail.district
          +" " + org.addressDetail.picode}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  </div>
</mat-dialog-content>
</form>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Submit</button>
</mat-dialog-actions>
