<div class="bootstrap-wrapper ">
    <div class="container text-center search-cont">
      <form (ngSubmit)="onSubmit()">
        <div class="row mt-4 text-center search-form" style="width: 100%">
          <div class="col-4">
            <mat-form-field style="width: 100%;">
                <mat-label style="color: black;">Select Option</mat-label>
                <mat-select class="browser-default custom-select" style="width: 100%;">
                <mat-option value="1">ABHA Number</mat-option>
                <mat-option value="2">Aadhar Number</mat-option>
                <mat-option value="3">Phone Number</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div class="col-8">
            <mat-form-field style="width: 100%;">
              <mat-label style="color: black;">Search</mat-label>
              <input name="search" [(ngModel)]="search" required type="text" matInput>
            </mat-form-field>
          </div>
        </div>
        <div class=" mt-2 mb-2 container text-center">
          <button type="submit" mat-raised-button color="primary">
            Search
          </button>
        </div>
      </form>
  
    </div>
  </div>
  